<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>screens</key>
    <array>
        <string>pic_list</string>
        <string>camera</string>
        <string>config</string>
	<array/>
	<key>events</key>
	<array>
		<string>shoot</string>
	</array>
	<key>actions</key>
	<array>
		<string>error</string>
        <string>start</string>
        <string>cancel</string>
        <string>shoot</string>
        <string>completed</string>
	</array>
</dict>
</plist>
