<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>screens</key>
	<array>
		<string>pic/list</string>
		<string>pic/detail</string>
		<string>camera</string>
		<string>config</string>
	</array>
	<key>events</key>
	<array>
		<string>shoot</string>
		<string>pic/file/duplicate</string>
		<string>pic/file/share</string>
		<string>pic/file/compress</string>
		<string>pic/file/delete</string>
		<string>pic/edit/rotate</string>
		<string>pic/edit/scale</string>
		<string>pic/filter/light</string>
		<string>pic/filter/blackandwhite</string>
		<string>pic/filter/color</string>
	</array>
	<key>actions</key>
	<array>
		<string>error</string>
		<string>start</string>
		<string>restart</string>
		<string>shoot</string>
		<string>completed</string>
		<string>cancel</string>
		<string>left</string>
		<string>right</string>
	</array>
</dict>
</plist>
